.product-page-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;

}
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  height:
}

.line {

  width: 100%;
  height: 1px;
  background: #c6c6c6;
}
.line2 {
  margin-top: 32px;
  margin-left: 16px;
  width: 288px;
  height: 1px;
  background: #c6c6c6;
}
.item-name-container {
  width: 100%;
  height: 82px;
  margin-left: 16px;
  margin-right: 16px;
}
.item-name {
  font-family: Lora;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #171717;
}
.item-meta-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-price {
  font-weight: 100;
  margin-left: 16px;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.19;
  text-align: left;
  color: #171717;

}
.item-id {
  font-family: Raleway;
  font-size: 12px;
  line-height: 1.33;
  color: #171717;
  margin-right: 16px;
}
.item-colour-text {
  font-family: Raleway;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #171717;
}
.item-colour-text-container {
  margin-left: 16px;
  width: 100%;
}
.item-colour-button-container .item-colour-button-honey,
.item-colour-button-container .item-colour-button-black {
  margin-left: 16px;
}
.item-colour-button-black {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #000000;
  border: solid 1px #000000
}
.item-colour-button-honey {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #cfa880;
  border: solid 1px #232122;
}

.size-select-button-container {
  margin-top: 32px;
  margin-left: 16px;
  width: 288px;
  height: 48px;
  border-radius: 2px;
  background-color: #171717;
  border: solid 1px #171717;
}
